<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wfa_casScolaireDepart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="TT_BDscolaireEntities" connectionString="metadata=res://*/ModelScolaire.csdl|res://*/ModelScolaire.ssdl|res://*/ModelScolaire.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LEGION;initial catalog=TT_BDscolaire;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="TT_BDscolaireEntities1" connectionString="metadata=res://*/ModelScolaire.csdl|res://*/ModelScolaire.ssdl|res://*/ModelScolaire.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Legion;initial catalog=TT_BDscolaire;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <applicationSettings>
    <wfa_casScolaireDepart.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </wfa_casScolaireDepart.Properties.Settings>
  </applicationSettings>
</configuration>